@page
@using TriResultsV2.Helpers
@model TriResultsV2.Pages.EventDiaryModel
@{
    ViewData["Title"] = "Diary";
    ViewData["BannerCssClass"] = "tri-banner-img-race-diary";
}

<div id="div-planned-events" class="my-2">
    <h3><i class="@IconHelper.GetIconClass(NamedIcon.Diary, IconOption.DuoTone)"></i> Upcoming Events</h3>
    <div>
        <partial name="_PlannedEventsTable" model="Model.PlannedEvents"/>
    </div>
</div>