@page
@using TriResultsV2.Helpers
@model TriResultsV2.Pages.EventDiaryModel
@{
    ViewData["Title"] = "Event Diary";
    ViewData["BannerCssClass"] = "tri-banner-img-race-diary";
}

<h3><i class="@IconHelper.GetIconClass(NamedIcon.Diary, IconOption.DuoTone)"></i> Upcoming Events</h3>
