@page
@model IndexModel
@{
    ViewData["Title"] = "Results";
    ViewData["BannerCssClass"] = "tri-banner-img-tri";
}

<div id="div-triathlon-results" class="mt-2 mb-4">
    <h3><i class="fas fa-clipboard-list"></i> Triathlon Results</h3>
    <partial name="_MultisportEventResultsAccordion" model="Model.TriathlonResultsAccordion"/>
</div>
<div id="div-duathlon-results" class="mt-2 mb-4">
    <h3><i class="fas fa-clipboard-list"></i> Duathlon Results</h3>
    <partial name="_MultisportEventResultsAccordion" model="Model.DuathlonResultsAccordion"/>
</div>