@page
@model IndexModel
@{
    ViewData["Title"] = "Results";
}

<h1>@ViewData["Title"]</h1>

<div class="col-xl-10">
    <div id="div-triathlon-results" class="mt-2 mb-4">
        <h3><i class="fas fa-clipboard-list"></i> Triathlon Results</h3>
        <partial name="_MultisportEventResultsAccordion" model="Model.TriathlonResultsAccordion" />
        <div class="accordion accordion-flush">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#div-race-3774902533">
                        Hatfield Sprint Triathlon, 23/06/19 (1:16:52)
                    </button>
                </h2>
                <div id="div-race-3774902533" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="table-responsive mt-3 mb-1">
                            <table class="table table-hover table-striped table-bordered align-top">
                                <thead class="table-primary align-top">
                                    <tr>
                                        <th scope="col" class="col col-lg-2"></th>
                                        <th scope="col" class="col col-lg-2">
                                            <div>Swim</div>
                                            <div class="figure-caption">750m OW</div>
                                        </th>
                                        <th scope="col" class="col col-lg-1">T1</th>
                                        <th scope="col" class="col col-lg-2">
                                            <div>Bike</div>
                                            <div class="figure-caption">23.5km</div>
                                        </th>
                                        <th scope="col" class="col col-lg-1">T2</th>
                                        <th scope="col" class="col col-lg-2">
                                            <div>Run</div>
                                            <div class="figure-caption">5km</div>
                                        </th>
                                        <th scope="col" class="col col-lg-2">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <i class="fas fa-stopwatch d-inline-block"></i>
                                            <div class="d-none d-lg-inline-block">Time</div>
                                        </th>
                                        <td>12:52</td>
                                        <td>01:10</td>
                                        <td>41:58</td>
                                        <td>00:35</td>
                                        <td>20:17</td>
                                        <td>01:16:52</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <i class="fas fa-chart-line"></i>
                                            <div class="d-none d-lg-inline-block">Improvement</div>
                                        </th>
                                        <td class="text-danger">+00:18</td>
                                        <td class="text-success">-00:40</td>
                                        <td class="text-success">-05:03</td>
                                        <td class="text-success">-00:09</td>
                                        <td class="text-success">-02:57</td>
                                        <td class="text-success">-08:29</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <i class="fas fa-tachometer-alt"></i>
                                            <div class="d-none d-lg-inline-block">Pace/Speed</div>
                                        </th>
                                        <td>-</td>
                                        <td>-</td>
                                        <td>21.3 mph</td>
                                        <td>-</td>
                                        <td>6:49 min/mi</td>
                                        <td>-</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <i class="fas fa-clipboard-list"></i>
                                            <div class="d-none d-lg-inline-block">Position</div>
                                        </th>
                                        <td>11th</td>
                                        <td>24th</td>
                                        <td>17th</td>
                                        <td>17th</td>
                                        <td>13th</td>
                                        <td>14th (55)</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <i class="fas fa-percent"></i>
                                            <div class="d-none d-lg-inline-block">Performance</div>
                                        </th>
                                        <td>81%</td>
                                        <td>57%</td>
                                        <td>70%</td>
                                        <td>70%</td>
                                        <td>77%</td>
                                        <td>76%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tri-race-detail">
                            <i class="fas fa-link"></i> <a href="https://connect.garmin.com/modern/activity/3774902533" target="_blank">View on Garmin</a>
                        </div>
                        <div class="tri-race-detail"><i class="fas fa-sun"></i> 14°C, Sunny, 5mph wind</div>
                        @if (Model.DisplayNotes)
                        {
                            <div class="tri-race-detail">
                                <i class="fas fa-edit"></i> Early start! Ideal conditions when we got started. Frustrating swim - got trapped in a pack for first 2/3 of the swim; made decent progress after last buoy and finished strongly though. Need to position better next OWS race so can pass on the outside. Polarized lenses would be better for next time as well - was difficult sighting with the sun today at times.<br />
                                Really enjoyed the bike leg - felt fresh after the swim, not much wind, flat roads, so was a quick one. Still loving the ISM saddle in TT position. Still think there's room for improvement on the bike though. Legs felt absolutely fine, but cramped in calf muscles after changing shoes in T2.<br />
                                Took first mile of the run to shake off the cramps, but felt good after that. Pleased with performance overall :)
                            </div>
                        }
                        <div class="tri-race-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div-duathlon-results" class="mt-2 mb-4">
        <h3><i class="fas fa-clipboard-list"></i> Duathlon Results</h3>
        <partial name="_MultisportEventResultsAccordion" model="Model.DuathlonResultsAccordion" />
    </div>
</div>