@page
@using TriResultsV2.Helpers
@model IndexModel
@{
    ViewData["Title"] = "Multisport";
    ViewData["BannerCssClass"] = "tri-banner-img-tri";
}

<div id="div-triathlon-results" class="mt-2 mb-4">
    <h3><i class="@IconHelper.GetIconClass(NamedIcon.Result)"></i> Triathlon Results</h3>
    <partial name="_MultisportEventResultsAccordion" model="Model.TriathlonResultsAccordion"/>
</div>
<div id="div-duathlon-results" class="mt-2 mb-4">
    <h3><i class="@IconHelper.GetIconClass(NamedIcon.Result)"></i> Duathlon Results</h3>
    <partial name="_MultisportEventResultsAccordion" model="Model.DuathlonResultsAccordion"/>
</div>