@page
@using TriResultsV2.Helpers
@model TriResultsV2.Pages.RaceDiaryModel
@{
    ViewData["Title"] = "Race Diary";
    ViewData["BannerCssClass"] = "tri-banner-img-race-diary";
}

<h3><i class="@IconHelper.GetIconClass(NamedIcon.Diary)"></i> Upcoming Races</h3>
