@page
@model TriResultsV2.Pages.RaceDiaryModel
@{
    ViewData["Title"] = "Race Diary";
    ViewData["BannerCssClass"] = "tri-banner-img-race-diary";
}

<h3><i class="fas fa-user-cog"></i> In Development...</h3>
