@page
@model TriResultsV2.Pages.RunModel
@{
    ViewData["Title"] = "Run";
}
<h1>@ViewData["Title"]</h1>

<div class="col-xl-10">
<div id="div-run-pbs" class="mt-2 mb-2">
    <h3><i class="fas fa-medal"></i> Personal Records</h3>
    <div class="">
        <div class="table-responsive mt-3 mb-1">
            <table class="table table-hover table-striped table-bordered align-middle">
                <thead class="table-primary">
                <tr>
                    <th scope="col" class="col-1 align-middle">
                        <div class="d-block d-sm-none">Dist.</div>
                        <div class="d-none d-sm-block">Distance</div>
                    </th>
                    <th scope="col" class="col-2 align-middle">Date</th>
                    <th scope="col" class="col-5 align-middle">Race</th>
                    <th scope="col" class="col-2 align-middle">Time</th>
                    <th scope="col" class="col-2 align-middle">Pace</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>5K</td>
                    <td>23/04/21</td>
                    <td>
                        <a href="https://connect.garmin.com/modern/activity/6659244437" target="_blank">York 5K Series Apr 2021</a>
                    </td>
                    <td>18:56</td>
                    <td>5:58 min/mi</td>
                </tr>
                <tr>
                    <td>10K</td>
                    <td>03/12/17</td>
                    <td>
                        <a href="https://connect.garmin.com/modern/activity/2363409845" target="_blank">Percy Pud 10K 2017</a>
                    </td>
                    <td>40:46</td>
                    <td>6:33 min/mi</td>
                </tr>
                <tr>
                    <td>HM</td>
                    <td>14/01/18</td>
                    <td>
                        <a href="https://connect.garmin.com/modern/activity/2434639248" target="_blank">Brass Monkey Half Marathon 2018</a>
                    </td>
                    <td>01:35:45</td>
                    <td>7:18 min/mi</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="div-run-results" class="mt-2 mb-4">
<h3><i class="fas fa-clipboard-list"></i> Run Results</h3>
<div class="accordion accordion-flush">
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#div-5k-races">
            5K Races
        </button>
    </h2>
    <div id="div-5k-races" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="table-responsive mt-3 mb-1">
                <table class="table table-hover table-striped table-bordered align-middle">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" class="col-1 align-middle">
                            <div class="d-block d-sm-none">Dist.</div>
                            <div class="d-none d-sm-block">Distance</div>
                        </th>
                        <th scope="col" class="col-2 align-middle">Date</th>
                        <th scope="col" class="col-5 align-middle">Race</th>
                        <th scope="col" class="col-2 align-middle">Time</th>
                        <th scope="col" class="col-2 align-middle">Pace</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>5K</td>
                        <td>23/04/21</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/6659244437" target="_blank">York 5K Series Apr 2021</a>
                        </td>
                        <td>18:56</td>
                        <td>5:58 min/mi</td>
                    </tr>
                    <tr>
                        <td>5K</td>
                        <td>10/10/19</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/4143836736" target="_blank">York 5K Series Oct 2019</a>
                        </td>
                        <td>19:32</td>
                        <td>6:07 min/mi</td>
                    </tr>
                    <tr>
                        <td>5K</td>
                        <td>30/08/19</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/4006358867" target="_blank">Loxley Lash 5K Series Aug 2019</a>
                        </td>
                        <td>19:31</td>
                        <td>6:06 min/mi</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#div-10k-races">
            10K Races
        </button>
    </h2>
    <div id="div-10k-races" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="table-responsive mt-3 mb-1">
                <table class="table table-hover table-striped table-bordered align-middle">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" class="col-1 align-middle">
                            <div class="d-block d-sm-none">Dist.</div>
                            <div class="d-none d-sm-block">Distance</div>
                        </th>
                        <th scope="col" class="col-2 align-middle">Date</th>
                        <th scope="col" class="col-5 align-middle">Race</th>
                        <th scope="col" class="col-2 align-middle">Time</th>
                        <th scope="col" class="col-2 align-middle">Pace</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>10K</td>
                        <td>26/01/20</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/4479290181" target="_blank">Clumber Park Trust10 Jan 2020</a>
                        </td>
                        <td>42:33</td>
                        <td>6:51 min/mi</td>
                    </tr>
                    <tr>
                        <td>10K</td>
                        <td>01/12/19</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/4300278601" target="_blank">Percy Pud 10K 2019</a>
                        </td>
                        <td>40:49</td>
                        <td>6:35 min/mi</td>
                    </tr>
                    <tr>
                        <td>10K</td>
                        <td>04/08/19</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/3914124969" target="_blank">York 10K 2019</a>
                        </td>
                        <td>42:19</td>
                        <td>6:50 min/mi</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#div-hm-races">
            Half Marathon Races
        </button>
    </h2>
    <div id="div-hm-races" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="table-responsive mt-3 mb-1">
                <table class="table table-hover table-striped table-bordered align-middle">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" class="col-1 align-middle">
                            <div class="d-block d-sm-none">Dist.</div>
                            <div class="d-none d-sm-block">Distance</div>
                        </th>
                        <th scope="col" class="col-2 align-middle">Date</th>
                        <th scope="col" class="col-5 align-middle">Race</th>
                        <th scope="col" class="col-2 align-middle">Time</th>
                        <th scope="col" class="col-2 align-middle">Pace</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>HM</td>
                        <td>27/10/19</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/4196775224" target="_blank">Worksop Half Marathon 2019</a>
                        </td>
                        <td>01:37:37</td>
                        <td>7:27 min/mi</td>
                    </tr>
                    <tr>
                        <td>HM</td>
                        <td>14/01/18</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/2434639248" target="_blank">Brass Monkey Half Marathon 2018</a>
                        </td>
                        <td>01:35:45</td>
                        <td>7:18 min/mi</td>
                    </tr>
                    <tr>
                        <td>HM</td>
                        <td>14/05/17</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/1733241081" target="_blank">Leeds Half Marathon 2017</a>
                        </td>
                        <td>01:39:45</td>
                        <td>7:36 min/mi</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="accordion-item">
    <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#div-rsr-races">
            Round Sheffield Run
        </button>
    </h2>
    <div id="div-rsr-races" class="accordion-collapse collapse">
        <div class="accordion-body">
            <div class="table-responsive mt-3 mb-1">
                <table class="table table-hover table-striped table-bordered align-middle">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col" class="col-1 align-middle">
                            <div class="d-block d-sm-none">Dist.</div>
                            <div class="d-none d-sm-block">Distance</div>
                        </th>
                        <th scope="col" class="col-2 align-middle">Date</th>
                        <th scope="col" class="col-5 align-middle">Race</th>
                        <th scope="col" class="col-2 align-middle">Time</th>
                        <th scope="col" class="col-2 align-middle">Position</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>20K</td>
                        <td>27/06/21</td>
                        <td>
                            <a href="https://connect.garmin.com/modern/activity/7028862720" target="_blank">Round Sheffield Run 2021</a>
                        </td>
                        <td>01:23:49</td>
                        <td>126th (2161)</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>