@page
@model TriResultsV2.Pages.RunModel
@{
    ViewData["Title"] = "Run";
}
<h1>@ViewData["Title"]</h1>

<div class="col-xl-10">
    <div id="div-run-pbs" class="mt-2 mb-2">
        <h3><i class="fas fa-medal"></i> Personal Records</h3>
        <partial name="_EventResultsTable" model="Model.PersonalRecordsTable" />
    </div>
    <div id="div-run-results" class="mt-2 mb-2">
        <h3><i class="fas fa-clipboard-list"></i> Run Results</h3>
        <div class="accordion accordion-flush">
            <partial name="_EventResultsAccordionItem" model="Model.RunResults5KAccordionItem" />
            <partial name="_EventResultsAccordionItem" model="Model.RunResults10KAccordionItem" />
            <partial name="_EventResultsAccordionItem" model="Model.RunResultsHmAccordionItem" />
            <partial name="_EventResultsAccordionItem" model="Model.RunResultsMsrAccordionItem" />
        </div>
    </div>
</div>