@page
@using TriResultsV2.Helpers
@model TriResultsV2.Pages.SwimModel
@{
    ViewData["Title"] = "Swim";
    ViewData["BannerCssClass"] = "tri-banner-img-swim";
}

<div id="div-swim-pbs" class="my-2">
    <h3><i class="@IconHelper.GetIconClass(NamedIcon.PersonalBest, IconOption.DuoTone)"></i> Personal Records</h3>
    <partial name="_EventResultsTable" model="Model.PersonalRecordsTable"/>
</div>
<div id="div-swim-results" class="my-2">
    <h3><i class="@IconHelper.GetIconClass(NamedIcon.Result, IconOption.DuoTone)"></i> Swim Results</h3>
    <div class="accordion accordion-flush">
        <partial name="_EventResultsAccordionItem" model="Model.SwimResults200MetreAccordionItem"/>
        <partial name="_EventResultsAccordionItem" model="Model.SwimResults400MetreAccordionItem"/>
    </div>
</div>