@page
@using TriResultsV2.Helpers
@model TriResultsV2.Pages.TrackBuilderMockupModel
@{
    ViewData["Title"] = "Track Builder Mock-up";
    ViewData["BannerCssClass"] = "tri-banner-img-bike";
}

@section Scripts
{
    <script type="text/javascript">
        Tri.InitialiseTrackBuilder();
    </script>
}

@*Modal*@
<div class="modal fade" id="dlgConfirm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div id="divDialogHeader" class="modal-title fs-5 fw-bold">Dialog Header</div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="divDialogBody">Dialog body.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@*End Modal*@

<div id="divTrackbuilderMockup" class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 my-2">
    <div class="accordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#divToolTrackBuilder">
                    <i class="@IconHelper.GetIconClass(NamedIcon.Gear)" title="Open tool settings" data-bs-toggle="tooltip"></i>
                    <div class="ms-3">Track Builder</div>
                </button>
            </h2>
            <div id="divToolTrackBuilder" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <div id="divTrackBuilderStep1" class="my-2 mx-2">
                        <div class="alert alert-primary p-2">
                            <div>
                                <i class="@IconHelper.GetIconClass(NamedIcon.Info)"></i> Track Builder splits up your track into a series of sections & connectors.
                                This allows track sections to be re-used, avoiding display issues in RGT caused by inconsistent gradients.
                            </div>
                            <div class="mt-1">Ideal for out and back routes, or any other route where riders will switch back on the same road.</div>
                            <div class="mt-1"><a href="https://www.youtube.com/watch?v=KSuR8PcAZYc" target="_blank" title="View the Track Builder tutorial on YouTube" data-bs-toggle="tooltip"><i class="fa-brands fa-youtube text-danger"></i> Learn more...</a></div>
                        </div>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radSectionType" id="radAutoDetect" checked>
                                <label class="form-check-label" for="radAutoDetect">Auto-detect sections (recommended)</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radSectionType" id="radManuallyAdd">
                                <label class="form-check-label" for="radManuallyAdd">Manually create sections (advanced)</label>
                            </div>
                            <button id="btnConvertToSections" type="button" class="btn btn-primary mt-2"><i class="fa-regular fa-code-branch"></i> Convert to sections</button>
                        </div>
                    </div>
                    <div id="divTrackBuilderStep2" class="my-2 mx-2" style="display: none;">
                        <div class="mb-3">
                            <h5 class="mb-1">Track Connectors</h5>
                            <div class="mb-2">
                                Active track connector: <i id="icoActiveTrackConnector" class="text-success fs-5 fa-solid fa-circle-3"></i> (of 3)
                            </div>
                            <div>
                                <button id="btnTrackConnectorFirst" type="button" class="btn btn-primary">
                                    <i class="fa-regular fa-backward-fast"></i>
                                </button>
                                <button id="btnTrackConnectorBack" type="button" class="btn btn-primary">
                                    <i class="fa-regular fa-backward"></i>
                                </button>
                                <button id="btnTrackConnectorDelete" type="button" class="btn btn-primary">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                                <button id="btnTrackConnectorForward" type="button" class="btn btn-primary">
                                    <i class="fa-regular fa-forward"></i>
                                </button>
                                <button id="btnTrackConnectorLast" type="button" class="btn btn-primary">
                                    <i class="fa-regular fa-forward-fast"></i>
                                </button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h5 class="mb-1 d-inline-block">Track Progression</h5>
                            <div class="ms-1 d-inline-block">
                                <a href="#TrackProgression" title="This lists the route through the track. Add a traversal to move from one track connector to another." 
                                   data-bs-toggle="tooltip"><i class="fa-regular fa-circle-question"></i> What's this list?</a>
                            </div>
                            <div>
                                <table class="table table-sm table-hover table-bordered align-top mb-2">
                                    <thead class="table-primary align-top">
                                    <tr>
                                        <th scope="col" class="w-20">From</th>
                                        <th scope="col" class="w-20">To</th>
                                        <th scope="col" class="w-20">Section</th>
                                        <th scope="col" class="w-20">Distance</th>
                                        <th scope="col" class="w-20"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <i class="track-connector-icon fa-solid fa-circle-1 text-danger fs-5"></i>
                                        </td>
                                        <td>
                                            <i class="track-connector-icon fa-solid fa-circle-2 text-danger fs-5"></i>
                                        </td>
                                        <td>
                                            <i class="fa-solid fa-square-a text-primary fs-5"></i>
                                        </td>
                                        <td>
                                            1.4 mi
                                        </td>
                                        <td>
                                            <a href="#TrackProgression"><i class="fa-regular fa-diagram-nested"></i> Show</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="track-connector-icon fa-solid fa-circle-2 text-danger fs-5"></i>
                                        </td>
                                        <td>
                                            <i class="track-connector-icon fa-solid fa-circle-3 text-success fs-5"></i>
                                        </td>
                                        <td>
                                            <i class="fa-solid fa-square-b text-primary fs-5"></i>
                                        </td>
                                        <td>
                                            4.0 mi
                                        </td>
                                        <td>
                                            <a href="#TrackProgression"><i class="fa-regular fa-diagram-nested"></i> Show</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="track-connector-icon fa-solid fa-circle-3 text-success fs-5"></i>
                                        </td>
                                        <td>
                                            <i class="track-connector-icon fa-solid fa-circle-3 text-success fs-5"></i>
                                        </td>
                                        <td><i class="fa-solid fa-square-c text-primary fs-5"></i> (loop)</td>
                                        <td>
                                            0.6 mi
                                        </td>
                                        <td>
                                            <div>
                                                <a href="#TrackProgression"><i class="fa-regular fa-diagram-nested"></i> Show</a>
                                            </div>
                                            <div>
                                                <a id="lnkDeleteStep1" href="#TrackProgression"><i class="fa-regular fa-trash-can"></i> Delete</a>
                                            </div>
                                        </td>
                                    </tr>   
                                    <tr id="trFrom3To2" style="display: none;">
                                        <td><i class="track-connector-icon fa-solid fa-circle-3 text-success fs-5"></i></td>
                                        <td><i class="track-connector-icon fa-solid fa-circle-2 text-danger fs-5"></i></td>
                                        <td><i class="fa-solid fa-square-b text-primary fs-5"></i></td>
                                        <td>
                                            4.0 mi
                                        </td>
                                        <td>
                                            <div>
                                                <a href="#TrackProgression"><i class="fa-regular fa-diagram-nested"></i> Show</a>
                                            </div>
                                            <div>
                                                <a id="lnkDeleteStep2" href="#TrackProgression"><i class="fa-regular fa-trash-can"></i> Delete</a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="3" class="text-end pe-2">Total track distance: </td>
                                        <td><span id="lblDistance6">6.0 mi</span><span id="lblDistance10" style="display: none;">10.0 mi</span></td>
                                        <td><a id="lnkClearTrackProgressionList" href="#TrackProgression"><i class="fa-regular fa-trash-can"></i> Clear</a></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="mt-0">
                                <fieldset class="border p-2">
                                    <div class="fs-6 fw-bold mb-1">Add Traversal</div>
                                    <div id="divAddTraversalValid">
                                        <div id="divAddTraversalValidStep1">
                                            <button id="btnAddTraversal3To2" type="button" class="btn btn-primary mb-1">
                                                <i class="fa-regular fa-circle-plus"></i> From <i class="fa-regular fa-circle-3"></i> to <i class="fa-regular fa-circle-2"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary mb-1">
                                                <i class="fa-regular fa-circle-plus"></i> Loop from <i class="fa-regular fa-circle-3"></i> to <i class="fa-regular fa-circle-3"></i>
                                            </button>
                                        </div>
                                        <div id="divAddTraversalValidStep2" style="display: none;">
                                            <button type="button" class="btn btn-primary mb-1">
                                                <i class="fa-regular fa-circle-plus"></i> From <i class="fa-regular fa-circle-2"></i> to <i class="fa-regular fa-circle-1"></i>
                                            </button>
                                            <button type="button" class="btn btn-primary mb-1">
                                                <i class="fa-regular fa-circle-plus"></i> From <i class="fa-regular fa-circle-2"></i> to <i class="fa-regular fa-circle-3"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div id="divAddTraversalInvalid" style="display: none;">
                                        <div class="text-danger mb-2">
                                            <i class="fa-regular fa-triangle-exclamation"></i> You can only add a traversal when the active track connector is the last in the ride progression.
                                        </div>
                                        <div>
                                            <button id="btnNavigateToLastTrackConnector" type="button" class="btn btn-primary">
                                                <i class="fa-regular fa-location-arrow"></i> Navigate to <i id="ico-navigate-track-connector" class="fa-regular fa-circle-3"></i>
                                            </button>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div>
                            <h5 class="mb-1">Build Track</h5>
                            <div class="mb-2">
                                <fieldset class="border p-2">
                                    <div class="fs-6 fw-bold d-inline-block mb-1">Track Offset</div>
                                    <div class="ms-1 d-inline-block">
                                        <a href="#Offset" title="Apply an offset to add separation between the track in opposite directions."
                                           data-bs-toggle="tooltip"><i class="fa-regular fa-circle-question"></i> Why apply an offset?</a>
                                    </div>
                                    <div>
                                        <input type="range" min="-4" max="4" step="1" value="0" id="slOffset">
                                    </div>
                                    <div id="lblOffsetValue">Offset = 0m</div>
                                    <div class="figure-caption"><i class="@IconHelper.GetIconClass(NamedIcon.Info)"></i> <span id="lblOffsetDescription">Shared single road in both directions</span></div>
                                </fieldset>
                            </div>
                            <div>
                                <button id="btnBuildTrack" type="button" class="btn btn-primary" title="Converts the track progression back to a standard GPXmagic track." data-bs-toggle="tooltip"><i class="fa-regular fa-road"></i> Build track</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>